/* .widthSize {
  flex: 1;
  width: 300px; 
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
} */
.albumName{
  margin-bottom: 4rem;
  display: flex;
  align-content: center;
}

.albumImg{
  width: 300px;
}
.albumsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 1rem;
}
.albumHeroText{
  align-items: center;
  display: flex;
  flex-direction: column;
}

form{
  margin-left: 38%;
  margin-top: 3rem;
}
.searchBtn{
  padding: 12px;
}